<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width"/>
<title>$(title)</title>
<link rel="stylesheet" type="text/css" href="css/screen.css"/>
</head>
<body class="Content">
<div class="Nav"><nav>
$(nav)
</nav></div>
<div class="Article"><article>
<ul class="Browse">
<li class="Prev">$(posts_prev)</li>
<li class="Next">$(posts_next)</li>
</ul>
$(content)
</article></div>
<div class="Footer"><footer>
<p>Written by $(whoami) &bull;
Built on $(uname) &bull;
Powered by ${0##*/}</p>
</footer></div>
</body>
</html>
