body
{
	background: #f8f8f8;
	margin: 1em auto; padding: 0 1em;
	max-width: 40em;
	font: 11pt monospace; color: #484848;
}

nav ul
{
	margin: 0; padding: 0;
	list-style: none;
	overflow: hidden;
}

nav a
{
	display: block;
	margin: 0; padding: .25em .5em;
	background: #e0e0e0;
	color: #808080;
	text-decoration: none;
	font-variant: small-caps;
	border-bottom: .25em solid #d8d8d8;
	white-space: nowrap;
	overflow: hidden;
}

nav a.Active
{
	background: #a8cd43;
	color: #000;
	border-color: #98bd33;
}

nav li
{
	margin: 0 .2em .2em 0; padding: 0;
	float: left;
	position: relative;
}

nav ul ul
{
	position: relative;
	left: 0; top: 100%;
	padding-top: .2em;
}

nav ul ul li
{
	clear: left;
}

nav ul ul a
{
	width: 10em;
	white-space: nowrap;
	overflow: hidden;
}

nav li ul ul
{
	position: absolute;
	left: 100%; top: -.2em; z-index: 100;
	padding-left: .2em;
}

article
{
	clear: both;
}

h1
{
	color: #a8cd43;
	font-variant: small-caps;
	font-size: 2em;
	text-align: center;
}

h2
{
	color: #b0b0b0;
}

a
{
	color: #000;
}

p, li
{
	line-height: 180%;
}

ul.Browse
{
	margin: 0; padding: .25em .5em;
	list-style: none;
	background: #e0e0e0;
	border-bottom: .25em solid #d8d8d8;
}

ul.Browse li
{
	display: inline;
	margin: 0; padding: 0;
}

ul.Browse li a
{
	color: black;
	text-decoration: none;
	font-variant: small-caps;
}

ul.Browse li.Next
{
	float: right;
}

div.Posts ul
{
	margin: 0 0 2em; padding: 0;
	list-style: none;
}

div.Posts ul li
{
	margin: 0 0 .5em; padding: 0;
}

div.Posts ul li span
{
	float: left;
	padding: 1pt 0 0; margin: 0 .5em 0 0;
	width: 8em;
	font-size: 8pt; color: gray;
	text-transform: uppercase; text-align: right;
}

div.Posts ul li a
{
	text-decoration: none;
}

footer
{
	clear: both;
	font-size: .5em; color: #c0c0c0;
	text-transform: uppercase;
}
