body
{
	background: #f8f8f8;
	margin: 20px auto; padding: 0 20px;
	max-width: 600px;
	font: 14px monospace; color: #484848;
	-o-transform: rotate( -2deg );
	-webkit-transform: rotate( -2deg );
	-moz-transform: rotate( -2deg );
	transform: rotate( -2deg );
}

nav ul
{
	margin: 0; padding: 0;
	list-style: none;
}

nav a
{
	display: block;
	margin: 0; padding: 6px 10px;
	background: #e0e0e0;
	color: #808080;
	text-decoration: none;
	font-variant: small-caps;
	border-bottom: 6px solid #d8d8d8;
	white-space: nowrap;
	overflow: hidden;
}

nav a.Active
{
	background: #a8cd43;
	color: #000;
	border-color: #98bd33;
}

nav li
{
	margin: 0 4px 4px 0; padding: 0;
	float: left;
	position: relative;
}

nav ul ul
{
	position: relative;
	left: 0; top: 100%;
	padding-top: 4px;
}

nav ul ul li
{
	clear: left;
}

nav ul ul a
{
	width: 128px;
	white-space: nowrap;
	overflow: hidden;
}

nav li ul ul
{
	position: absolute;
	left: 100%; top: -4px; z-index: 100;
	padding-left: 4px;
}

article
{
	clear: both;
}

h1
{
	color: #a8cd43;
	font-variant: small-caps;
	font-size: 40px;
	-o-transform: rotate( 2deg );
	-webkit-transform: rotate( 2deg );
	-moz-transform: rotate( 2deg );
	transform: rotate( 2deg );
	text-align: center;
}

h2
{
	color: #b0b0b0;
}

a
{
	color: #000;
}

p
{
	line-height: 180%;
}

footer
{
	clear: both;
	font-size: 10px; color: #c0c0c0;
	text-transform: uppercase;
}
