.Content
{
	background: #f8f8f8;
	margin: 1em auto; padding: 0 1em;
	max-width: 40em;
	font: 12pt monospace; color: #484848;
}

.Nav ul
{
	margin: 0; padding: 0;
	list-style: none;
	overflow: hidden;
}

.Nav a
{
	display: block;
	margin: 0; padding: .25em 1em;
	background: #eee;
	color: #888;
	text-decoration: none;
	text-transform: uppercase;
	border-bottom: .25em solid #ddd;
	white-space: nowrap;
	overflow: hidden;
}

.Nav a.Active
{
	background: #a8cd43;
	color: #111;
	border-color: #98bd33;
}

.Nav li
{
	margin: 0 .2em .2em 0; padding: 0;
	float: left;
	position: relative;
}

.Nav ul ul
{
	position: relative;
	left: 0; top: 100%;
	padding-top: .2em;
}

.Nav ul ul li
{
	clear: left;
}

.Nav ul ul a
{
	width: 10em;
	white-space: nowrap;
	overflow: hidden;
}

.Nav li ul ul
{
	position: absolute;
	left: 100%; top: -.2em; z-index: 100;
	padding-left: .2em;
}

.Article
{
	clear: both;
}

h1
{
	color: #a8cd43;
	font-size: 2em;
}

h2
{
	color: #888;
}

a
{
	color: #111;
}

p, li
{
	line-height: 180%;
}

.Footer
{
	clear: both;
	font-size: 80%; color: #888;
	text-transform: uppercase;
}
